---
title: "verification in a sentence | verification example sentences"
date: 2021-01-20T19:57:50+05:30
draft: falses
summary: "verification"
---
- Any `verification` on numbers.
- Well, i've had a hard time getting an actual `verification`.
- It's just for `verification` through the credit card company.
                 
